[Unit]
Description=Check battery level
Requires=battery-notify.service

[Timer]
Unit=battery-notify.service
OnCalendar=*:0/15

[Install]
WantedBy=timers.target
